<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Goalr | About Us</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <meta name="keywords" content="about-goalr, about-us, about, goalr, sweet-goals, goal-manager, goal-setting, get-started">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="description" content="Goalr is a goal-manager web app solo developed by Stanley Ugwu. It comes with a lot of goal-setting and managing features.">
    

    <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/assets/fontawesome-free/css/all.min.css" />
    <link rel="shortcut icon" href="assets/fav.ico" type="image/x-icon" />

    <!-- Page css -->
    <style>
      <%- css %>
    </style>
  </head>

  <body class="container">
    <!-- Page contents -->
    <%- body %>
  </body>
</html>
