<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Goalr | Contact Us</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <meta
      name="keywords"
      content="contact-us, send-us-a-mail, follow-us,goalr, sweet-goals, goal-manager, goal-setting, get-started"
    />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta
      name="description"
      content="For any reports, issues, help, support, or discussion, you can reach us through our mobile number, social-media handles, or send us a message"
    />

    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/assets/fontawesome-free/css/all.min.css" />
    <link rel="shortcut icon" href="assets/fav.ico" type="image/x-icon" />

    <!-- will be raplaced with page css -->
    <style>
      <%- css %>
    </style>
  </head>

  <body class="container">
    <!-- Will be replaced with contents -->
    <%- body %>
  </body>
</html>
