<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Goalr | Privacy-Policy</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <meta
      name="keywords"
      content="terms-of-use, service, policy, privacy, privacy-policy, goalr, sweet-goals, goal-manager, goal-setting, get-started"
    />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta
      name="description"
      content="Please ensure you read up our privacy policy to find out how we handle the data we collect from users. using goalr means you have aggreed to our privacy-policy."
    />

    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/assets/fontawesome-free/css/all.min.css" />
    <link rel="shortcut icon" href="assets/fav.ico" type="image/x-icon" />

    <!-- will be raplaced with page css -->
    <style>
      <%- css %>
    </style>
  </head>

  <body class="container-fluid p-0">
    <!-- Will be replaced with contents -->
    <div id="root">
      <%- body %>
    </div>
    <script src="<%= script %>" type="text/javascript"></script>
  </body>
</html>
