body{
    overflow-x: hidden;
}

.title_wrapper{
    background: url('../../assets/images/header-goal1.png') right no-repeat;
    background-blend-mode: overlay;
}

.title{
    color: #FAEED6;
    text-shadow: 0 4px #241717;
}

.content_wrapper{
    position: relative;
}

#signup_btn{
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    cursor: pointer;
}

#header_image_wrapper{
    overflow: hidden;
}
#header_image_wrapper img{
    width: inherit;
    height: inherit;
    border: none;
    max-width: 100%;
    max-height: 100%;
}