.header{
    background-image: url('../../assets/images/header_image.png');
    background-repeat:no-repeat;
    background-position:right top;
    background-clip: content-box;
    margin-bottom: -6rem;
}